body
{
	background: url(../img/fon.jpg);
}
#page
{
	border: 2px ridge black;
	border-radius: 5px;
	box-shadow: 0 0 3px black;
}
header
{
	background: #AD66D5;
	color: #FFFF73;
	
}
#logo
{
	background: url(../img/logo.jpg) no-repeat;
	background-size: contain;
}
#title
{
	color: yellow;
}
#title img
{
	width: 100%;
}
#search-form
{
	margin: -5px 0 5px 0 !important;
	width: 50%;
	float: right;	
}
#search-form input, #search-form button
{
	height: 30px;
}
#button-addon2 i
{
	position: relative;
	top: -4px;
}
#cart_link
{
	color: #FFFF73;
}

#contacts
{
	text-align: center;
}
nav
{
	background: #E667AF;
}
nav .active
{
	color: red;
}
#langs
{
	float: right;
	background: #bD76e5;
	padding: 0 5px;
	margin-bottom: -15px; 
	
}

#breadcrumbs
{
	background: #E9ECEF;
}
.breadcrumb
{
	margin: 0;
	padding: 0 0 0 15px;
}
main
{
	display: flex;
}
aside
{
	background: #BFBF30;
	padding: 15px;
	
}
#sidebar_img img
{
	width: 100%;
}
article
{
	background: #7109AA;
	color:#FFFF73;
	
}
section
{
	margin-right: -10px !important;
	margin-top: 10px !important;
}
.items-row
{
	display: flex;
}
.cat
{
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 5px;
	align-items: stretch;
	box-shadow: 0 0 2px black;
	width: 100%;
	
}
.cat:hover 
{
	transform: scale(1.05);
}

.cat a
{
	text-decoration: none;
}
.cat-title
{
	height: 13%;
	color: red;
}
.cat-img
{
	height: 87%;
}
.cat-img img
{
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
.item
{
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 5px;
	align-items: stretch;
	box-shadow: 0 0 2px black;
	height: 330px;
}
.item a
{
	text-decoration: none;
}
.item a:hover
{
	color: red;
}
.item-title
{
	height: 13%;
	color: red;
}
.item-title span
{
	float: right;
	color: black;
	font-size: 1.3em;
	font-weight: bold;
	font-style: italic;
	text-shadow: 0 0 2px white;
}
.item-img
{
	height: 57%;
}
.item-img img
{
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
.item-descr
{
	height: 30%;
	overflow: hidden;
	text-align: justify;
	font-size: 0.8em;
	
}
.buy
{
	visibility: hidden;
	position: relative;
	left: 30%;
	top: -60px;
	border-radius: 5px;
	box-shadow: 0 0 5px black;
	
}
#buy
{
	border-radius: 5px;
	box-shadow: 0 0 5px black;
}
.item:hover .buy
{
	visibility: visible;
	
}
#item img
{
	width: 100%;
}
#item-price
{
	font-size: 1.3em;
	color: red;
	padding: 15px;
}
#charact
{
	padding: 15px;
}
#charact td
{
	color: red;
}
#result
{
	color: yellow;
}

footer
{
	height: 35px;
	background: #CD0074;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 0 0 1px white;
}
fieldset
{
	border: 1px dotted black;
	padding: 5px;
	margin: 5px;
}
article input
{
	border-radius: 5px;
	box-shadow: 0 0 3px black;
}
.error
{
	color: red;
}
form
{
	border-radius: 5px;
}